<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
    fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons v-middle">
                    home
                </i>
                Inicio
            </a>
            <a mat-list-item routerLink="/personagens">
                <i class="material-icons v-middle">
                    person
                </i>
                Personagens
            </a>
            <a mat-list-item routerLink="/historiasemquadrinhos">
                <i class="material-icons v-middle">
                    book
                </i>
                Histórias em quadrinhos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
